[submodule "frontend"]
	path = frontend
	url = https://github.com/aylinaygul/flight-tracker-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/aylinaygul/flight-tracker-backend.git
